/* This is copied from the news view theming. */

.frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:first-child,
.frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:first-child {
  float: left;
  display: block;
  margin-right: 2.4911%;
  width: 65.8363%;
}

.frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:first-child:last-child,
.frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:first-child:last-child {
  margin-right: 0;
}

@media screen and (max-width: 950px) {
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:first-child,
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:first-child {
    width: 100%;
    margin-right: 0;
  }
}

.default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:first-child,
.default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:first-child {
  width: 100%;
  margin-right: 0;
}

.frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(3n),
.frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(3n) {
  margin-right: 2.4911%;
}

.frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(3n+1),
.frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(3n+1) {
  clear: none;
}

.frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(3n + 2),
.frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(3n + 2) {
  margin-right: 0;
}

.frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(3n + 3),
.frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(3n + 3) {
  clear: left;
}

@media screen and (max-width: 950px) {
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n) {
    margin-right: 2.4911%;
  }
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n+1),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n+1) {
    clear: none;
  }
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(3n + 2),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(3n + 2) {
    margin-right: 2.4911%;
  }
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(3n + 3),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(3n + 3) {
    clear: none;
  }
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n + 1),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n + 1) {
    margin-right: 0;
  }
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n + 2),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n + 2) {
    clear: left;
  }
}

@media screen and (max-width: 600px) {
  .frontpage-layout .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(n),
  .frontpage-layout .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(n) {
    width: 100%;
    margin: 0;
    clear: none;
  }
}

.default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n),
.default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n) {
  margin-right: 3.78378%;
}

.default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n+1),
.default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n+1) {
  clear: none;
}

.default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n + 3),
.default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n + 3) {
  margin-right: 0;
}

.default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n + 4),
.default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n + 4) {
  clear: left;
}

@media screen and (max-width: 950px) {
  .default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n),
  .default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n) {
    margin-right: 2.4911%;
  }
  .default-panel-layout .primary-content .grid-medium.view-kkb-event.first-child-large .views-row:nth-child(2n+1),
  .default-panel-layout .primary-content .grid-medium .view-kkb-event.first-child-large .views-row:nth-child(2n+1) {
    clear: none;
  }
}

@media screen and (max-width: 600px) {
  .view-kkb-event.slide-on-mobile .views-row {
    margin-bottom: 0;
  }
}

/* End of copy. Now try to hack the display of events a bit. */

/* Hide the info-bottom per default. */
.view-kkb-event .node-ding-event.node-teaser .info-bottom .field-name-og-group-ref,
.view-kkb-event .node-ding-event.node-teaser .info-bottom .date-time,
.view-kkb-event .node-ding-event.node-teaser .info-bottom .price {
  -webkit-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  opacity: 0;
}

.view-kkb-event .node-ding-event.node-teaser .info-bottom {
  -webkit-transition: min-height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: min-height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: min-height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  min-height: 0px;
  height: 0;
}

@media screen and (max-width: 600px) {
  .view-kkb-event .node-ding-event.node-teaser .info-bottom {
    display: none;
  }
}

.view-kkb-event .node-ding-event.node-teaser:hover .info-bottom .field-name-og-group-ref,
.view-kkb-event .node-ding-event.node-teaser:hover .info-bottom .date-time,
.view-kkb-event .node-ding-event.node-teaser:hover .info-bottom .price {
  -webkit-transition: opacity 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

.no-touch .view-kkb-event .node-ding-event.node-teaser:hover .info-bottom {
  -webkit-transition: min-height 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: min-height 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: min-height 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  min-height: 60px;
}

/* Make image of first event fill the entire background. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .event-list-image {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  /* Reset z-index. */
  z-index: 0;
}

/* Create a black overlay for the image on hover. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .event-list-image::after {
  -webkit-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.no-touch .view-kkb-event .views-row.first .node-ding-event.node-teaser:hover .event-list-image::after {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Change text color. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .title-and-lead,
.view-kkb-event .views-row.first .node-ding-event.node-teaser .info-bottom {
  color: #fff;
}

.view-kkb-event .views-row.first .node-ding-event.node-teaser .info-top,
.view-kkb-event .views-row.first .node-ding-event.node-teaser .date {
  color: rgba(255,255,255,.54);
}

/* Make hidden information invisible and fade in on hover. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .field-name-field-ding-event-lead,
.view-kkb-event .views-row.first .node-ding-event.node-teaser .info-bottom {
  -webkit-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}
.no-touch .view-kkb-event .views-row.first .node-ding-event.node-teaser:hover .field-name-field-ding-event-lead,
.no-touch .view-kkb-event .views-row.first .node-ding-event.node-teaser:hover .info-bottom {
  opacity: 1;
}

/* Reset hover transitions for sub elements (we need to do it differently). */
.view-kkb-event .views-row.first .node-ding-event.node-teaser *,
.view-kkb-event .views-row.first .node-ding-event.node-teaser:hover * {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  transform: none;
  opacity: 1;
}

/* Kill off some of the height/min-heights that's set for animations. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .title-and-lead,
.view-kkb-event .views-row.first .node-ding-event.node-teaser .field-name-field-ding-event-lead,
.view-kkb-event .views-row.first .node-ding-event.node-teaser .info-bottom {
  height: auto;
  min-height: auto;
}

/* Fix width and remove hover shadow. */
.no-touch .view-kkb-event .views-row.first .node-ding-event.node-teaser .background {
  width: 100%;
  box-shadow: none;
}

/* Work around JS trying to "fix" styling. event.js tries to fix some
   issue with the animation by setting min-height of .title-and-lead
   to the sum of the heights of title and lead plus 20px. Were working
   around that by setting a 20px margin and removing it when hovered.
   The alternatives is completely redoing the event styling or monkey
   patching the JS. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .title-and-lead {
  margin-bottom: 20px;
}
.view-kkb-event .views-row.first .node-ding-event.node-teaser:hover .title-and-lead {
  margin-bottom: 0px;
}

/* Set fixed height on container so we can hide overflow. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .inner {
  height: 330px;
  overflow: hidden;
  padding: 0;
}

/* Reposition text. */
.view-kkb-event .views-row.first .node-ding-event.node-teaser .event-text {
  margin: 0;
  padding: 215px 15px 5px;
  /* Make the height full, else the bottom of the gradient is visible in
     the hover animation. */
  height: 100%;
  -webkit-transition: padding 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: padding 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: padding 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 0%, rgba(38, 38, 38, 0.8) 100%);
  background-image: linear-gradient(transparent 0%, rgba(38, 38, 38, 0.8) 100%);
}

/* Animate padding on hover. */
.no-touch .view-kkb-event .views-row.first .node-ding-event.node-teaser:hover .event-text {
  padding-top: 25px;
}

/* Fixup mobile display. */
@media screen and (max-width: 600px) {
  .view-kkb-event .node-ding-event.node-teaser .event-list-image {
    /* Unlike the normal two per page carousel for events, we do want to
       show images as we only show one per page. */
    display: block;
  }

  .view-kkb-event .node-ding-event.node-teaser.has-image .event-text {
    /* Fix padding so text comes below image. */
    padding-top: 215px;
  }
}
