/**
 * Frontend styling of contact page.
 */

.kkb-contact-page .anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

.kkb-contact-page h1 {
  font-family: FaktPro-Bold,sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

/* Layout the boxes in three columns.*/
.kkb-contact-section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 30px;
  margin-bottom: 30px;
}

/* Layout contact in two columns.*/
.kkb-contact-section-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 30px;
  background-color: #c2e0dd;
  padding: 1em;
}

.kkb-contact-section-contact h2 {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.kkb-contact-teaser {
  display: flex;
  transition:
          transform 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1),
          background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
          box-shadow 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.kkb-contact-teaser:hover {
  z-index: 10;
  transform: scale(1.15,1.15) translate(1.4em,0.5em);
}

.kkb-contact-teaser:before {
  content: ">";
  font-size: 1.8em;
  font-family: sans-serif;
  font-weight: 100;
  color: #347056;
  top: 0.2em;
  position: relative;
}

.kkb-contact-teaser-content {
  padding: 0.5em;
}

.kkb-contact-teaser-content:hover {
  background-color: #ececeb;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
}

.kkb-contact-teaser-header {
  font-family: FaktPro-SemiBold,sans-serif;
  font-size: 1.3em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.kkb-contact-section-header a:hover {
  color: #3a6f55 !important;
}

.kkb-contact-section-header {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 100;
  color: #347056;
}

.kkb-contact-section-footer {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 700;
}

.kkb-contact-section-footer a:before {
  content: ">";
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 100;
  color: #347056;
  position: relative;
}

@media screen and (max-width: 600px) {
  /* One column layout on mobile. */
  .kkb-contact-section {
    grid-template-columns: 100%;
  }
}

.kkb-contact-phone-first {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
}

.kkb-contact-phone-first h3 {
  grid-column: 1 / -1;
}

.kkb-contact-phone-second {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.kkb-contact-phone-second-number {
  display: flex;
}

@media screen and (max-width: 600px) {
  .kkb-contact-section-contact {
    display: block;
  }
}

.kkb-contact-phone-second-number:before {
  content: "";
  background-image: url(../images/phone.png);
  height: 5em;
  background-size: cover;
  width: 5em;
  transform: scaleY(-1);
}

.kkb-contact-phone-second p,
.kkb-contact-phone-second a {
  margin: 0;
  font-size: 300%;
  line-height: 1.5em;
  color: #464646;
  text-align: center;
}

.kkb-contact-phone-second a {
  margin-top: 0.4em;
  font-family: FaktPro-SemiBold,sans-serif;
  font-weight: 700;
}

.kkb-contact-write {
  display: inline-grid;
  grid-template-rows: auto 1fr auto;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10 & IE11 CSS styles. IEs CSS Grid implementation is based on an
   earlier draft and uses prefixes. */

  /* As IE doesn't have auto-placement, so we'll use floats for the
   outer grid.*/
  .kkb-contact-section {
    display: block;
  }

  .kkb-contact-section::after {
    display: block;
    content: "";
    clear: both;
  }

  .kkb-contact-teaser {
    width: 48%;
    display: -ms-grid;
    -ms-grid-columns: 25% 1fr;
    -ms-grid-rows: auto 1fr auto;
    margin-bottom: 30px;
  }

  .kkb-contact-teaser.odd {
    float: left;
  }

  .kkb-contact-teaser.even {
    float: right;
  }

  .kkb-contact-teaser .image {
    padding-right: 15px;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    -ms-grid-row: 1;
  }

  .kkb-contact-teaser h3 {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }

  .kkb-contact-teaser .buttons {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    -ms-grid-column-align: end;
  }
}
