a.feedback_simple-text div {
  display: inline-block;
  white-space: nowrap;
}

a.feedback_simple-text {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: fixed;
  text-decoration: none !important;
  z-index: 9999;
}

.feedback_simple-right.feedback_simple-text {
  border-radius: 0 0 4px 4px;
  -webkit-transform-origin: calc(100% - 24px) calc(100% - 24px);
  -ms-transform-origin: calc(100% - 24px) calc(100% - 24px);
  transform-origin: calc(100% - 24px) calc(100% - 24px);
}

a.feedback_simple-text,
.feedback_simple-text:link {
  padding: 15px 14px;
  line-height: 100%;
  margin: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  color: white;
  background: #313233;
}

.feedback_simple-text:link:active.feedback_simple-right {
  -webkit-box-shadow: inset 1px -1px 4px #000;
  box-shadow: inset 1px -1px 4px #000;
}

.feedback_simple-text:link:hover,
.feedback_simple-text:link:hover:visited {
  color: white;
}

@media screen and (max-width: 769px) {
  a.feedback_simple-right.feedback_simple-text,
  .feedback_simple-right.feedback_simple-text:link {
    border-radius: 4px 4px;
    bottom: 0;
    top: inherit !important;
    transform: none;
  }

  a.feedback_simple-text div,
  .feedback_simple-text:link div {
    transform: none;
  }
}
