/**
 * Use two column layout for wayfinder button on mobile.
 *
 * For some reason this does not seem to be contained within the transferred
 * legacy code. We have to use hard-coded values here as module CSS cannot use
 * the preprocessing pipeline or mixins from the theme.
 */
@media only screen and (max-width: 600px) {
  .kkb-wayfinder--button {
    display: block;
    width: 100%;
  }
}

.ting-object.view-mode-teaser .kkb-wayfinder--button {
  display: none;
}

.kkb-wayfinder--button.open-overlay .buttons {
  width: 100% !important;
}

.kkb-wayfinder--button .trigger {
  color: #000;
  background: #fff;

  transition-property: opacity;
  transition-timing-function: ease-in;
}

.view-mode-teaser .kkb-wayfinder--button {
  padding-bottom: 70px;
}

.view-mode-teaser .kkb-wayfinder--button .trigger {
  opacity: 0;
  margin: 20px;
}

.ting-object > .inner:hover .kkb-wayfinder--button .trigger {
  opacity: 1;
  transition-duration: .7s;
}

/* Moving the current buttons, to make more space for wayfinder buttons. */
.ting-object.view-mode-teaser-no-overlay > .inner .action-button,
.ting-object.view-mode-teaser > .inner .action-button {
  bottom: 0 !important;
}

.ting-object.view-mode-teaser-no-overlay>.inner .group-text,
.ting-object.view-mode-teaser>.inner .group-text {
  height: auto !important;
  min-height: 100%;
}
