html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

.kkb-registration {
  max-width: 735px;
  width: 100%;
  margin: auto;
}

.kkb-registration__scroll {
  position: absolute;
  width: 50px;
  bottom: 30px;
  right: 0;

  z-index: 5;
  font-size: 0;
  border-radius: 5px;
  background-color: #e5e5e5;
  text-decoration: underline;
}

.kkb-registration__scroll::after {
  display: block;
  content: '';
  height: 40px;
  width: 100%;
  margin-top: -20px;

  background-image: url(/sites/all/modules/kkb-ddb-modules/kkb_registration/assets/scroll-arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.kkb-registration__scroll:hover,
.kkb-registration__scroll:focus {
  background-color: #d2d2d2;
}

.kkb-registration__scroll--en {
  bottom: auto;
}

.kkb-registration__scroll--en::before {
  display: block;
  content: '';
  height: 40px;
  width: 100%;

  background-image: url(/sites/all/modules/kkb-ddb-modules/kkb_registration/assets/english.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.kkb-registration__scroll--en::after {
  background-image: url(/sites/all/modules/kkb-ddb-modules/kkb_registration/assets/scroll-arrow-down.svg);
}

.kkb-registration .more-link a::after {
  color: #999999;
}

.kkb-registration p a {
  text-decoration: underline;
}

.kkb-registration h3 {
  color: #3a6f55;
}

.kkb-registration__section--en {
  padding: 60px 0;
  position: relative;
}

.kkb-registration__section--en::before {
  content: '';
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ffffff 30px, #f1f1f2 100%);
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: 0;
  bottom: 0;
  z-index: 0;
  margin-top: 0 !important;
  height: 100% !important;
}

.kkb-registration__section-content {
  position: relative;
  z-index: 2;
}

.kkb-registration__image-wrapper {
  margin-bottom: 30px;
  margin-left: -35px;
  margin-right: -35px;
}

.kkb-registration__titles {
  padding-right: 50px;
  box-sizing: border-box;
}

.kkb-registration__titles > h1 {
  margin-bottom: 10px;
}

.kkb-registration__titles > h2 {
  font-family: FaktPro-Normal, sans-serif;
}

.kkb-registration__info {
  margin: 20px auto 20px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #e5e5e5;
  overflow: hidden;
}

@media screen and (min-width: 735px) {
  .kkb-registration__scroll {
    width: auto;
    padding: 20px;
    padding-right: 50px;

    font-size: inherit;
  }

  .kkb-registration__scroll::after {
    position: absolute;
    width: 50px;
    height: 100%;
    margin-top: 0;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    transition: transform .2s ease-in-out;
  }

  .kkb-registration__scroll:hover::after,
  .kkb-registration__scroll:focus::after {
    transform: translateY(-58%);
  }

  .kkb-registration__scroll--en:hover::after,
  .kkb-registration__scroll--en:focus::after {
    transform: translateY(-42%);
  }

  .kkb-registration__scroll--en {
    padding-left: 60px;
    bottom: auto;
  }

  .kkb-registration__scroll--en::before {
    position: absolute;
    width: 60px;
    height: 100%;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .kkb-registration__titles {
    padding-right: 230px;
  }

  .kkb-registration__image-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .kkb-registration__info {
    margin-bottom: 40px;
    padding: 40px;
  }
}
