/* Make pointer signal that our behavior attached elements can be clicked. */
.js .step-header,
.show-hide-all .show-all,
.show-hide-all .hide-all {
  cursor: pointer;
}

/* And make them link color. */
.step-item .show,
.step-item .hide,
.show-hide-all .show-all,
.show-hide-all .hide-all {
  color: #3a6f55;
}

.show-hide-all {
  text-align: right;
  border-bottom: 1px solid rgba(38,38,38,.2);
  /* Matches ol.step-items > li */
  margin-left: 3em;
}

/* Hide step content if JS is enabled. */
.js .step-content {
  display: none;
}

.step-shown .step-content {
  display: block;
}

/* Show the relevant show/hide button. */
.step-item.step-shown .show,
.step-item .hide {
  display: none;
}

.step-item .show,
.step-item.step-shown .hide {
  display: inline;
}

.step-title {
  font-family: FaktPro-SemiBold,sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Override help page styling. */
.node-type-ding-help-page ol li.step-item {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em 0;
}

/* Line between steps. */
li.step-item + li.step-item {
  border-top: 1px solid rgba(38,38,38,.2);
}

/* Remove padding from last paragraph in content. We set the wanted
   bottom spacing on the item. */
li.step-item p:last-child {
  margin-bottom: 0;
}

/* Style ol on help page as step directions. */
.node-type-ding-help-page ol {
  /* Reset counter. */
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

ol.step-items > li {
  /* Create a positioning context to ease positioning of the :before
   element. */
  position: relative;
  /* Left margin to allow for the :before.*/
  margin: 0 0 2em 3em;
  padding: 4px 8px;
  /* We'll do our own numbers. */
  list-style: none; /* Disable the normal item numbering */
}
ol.step-items > li:before {
  /* Use a counter to create the numbering. */
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  width: 2em;
  /* Some space between the number and the content in browsers that
     support generated content but not positioning it (Camino 2 is one
     example) */
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #313233;
  font-weight: bold;
  /* Looks better than FaktPro. */
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
ol.step-items li ol,
ol.step-items li ul {
  margin-top: 6px;
}

ol.step-items ol li:last-child {
  margin-bottom: 0;
}
