/*
 * Shared between pages.
 */

.node-ding-help-page h1.page-title,
.node-ding-help-front h1.page-title,
.taxonomy-term.vocabulary-help-category h1.page-title {
  font-family: FaktPro-SemiBold,sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 30px;
  color: #252525;
}

/* Icons on links in boxes on help frontpage and in sidebar on help
 * poge.
 */
.field-name-field-ding-help-p-b-references a,
.ding-help-page-sidebar a {
  background-image: url(../images/internal-link.png);
  background-repeat: no-repeat;
  /* Font is 14px with a baseline at 11px from the top. */
  background-size: auto 11px;
  background-position: left top;
  padding-left: 18px;
  line-height: 25px;
}

/* Help page titles on help front page and category listing. */
.paragraphs-item-ding-help-front-box h3,
.view-kkb-help h3 {
  border-bottom: 1px solid rgba(38,38,38,.2);
}

/* Font for lead text. */
.field-name-field-ding-help-front-lead,
.vocabulary-help-category .taxonomy-term-description,
.node-type-ding-help-page .field-name-field-ding-help-page-lead {
  font-family: FaktPro-SemiBold,sans-serif;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  /* Limit lead width on desktop. */
  .field-name-field-ding-help-front-lead,
  .vocabulary-help-category .taxonomy-term-description,
  .node-type-ding-help-page .field-name-field-ding-help-page-lead {
    /* The missing %3 is to account for the gap between columns in main
   page content. */
    width: 63%;
  }
}
.page-taxonomy .breadcrumb a,
.node-type-ding-help-page .breadcrumb a {
  text-decoration: underline;
}

/*
 * Help page.
 */

/* Overall layout using flexbox. */
@media screen and (min-width: 768px) {
  .ding-help-page-content {
    display: flex;
  }
  .ding-help-page-main {
    margin-right: 60px;
  }
}

.ding-help-page-main {
  flex-basis: 66%;
}

.ding-help-page-sidebar {
  flex-basis: 33%;
}

/* Header on sidebar fields. */
.ding-help-page-sidebar .field-label {
  font-family: FaktPro-SemiBold,sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(38,38,38,.2);
}

/* Spacing between sidebar fields. */
.ding-help-page-sidebar .field {
  margin-bottom: 60px;
}

/* Other icons for external links and files. */
.ding-help-page-sidebar .field-name-field-ding-help-page-external a {
  background-image: url(../images/external-link.png);
}

.ding-help-page-sidebar .field-name-field-ding-help-page-files a {
  background-image: url(../images/file.png);
  /* Break long filenames. This seems to make both Chrome and Firefox happy. */
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: anywhere;
}

/* Clearfix the CTA button. */
.paragraphs-item-ding-help-page-cta::after {
  content: "";
  display: table;
  clear: both;
  /* Add spacing after. */
  margin-bottom: 30px;
}

/* Override DDBasic setting a (small) fixed width on mobile. */
@media screen and (max-width: 600px) {
  .paragraphs-item-ding-help-page-cta .more-link a {
    width: auto;
  }
}

/* Add space after last accordion. */
.paragraphs-item-ding-help-page-accordion + *:not(.paragraphs-item-ding-help-page-accordion) {
  margin-top: 30px;
}

.paragraphs-item-ding-help-page-accordion fieldset {
  background-color: #fff;
}

.paragraphs-item-ding-help-page-accordion fieldset.collapsed {
  background-color: inherit;
}

/* Style ol on help page as step directions. */
.node-type-ding-help-page ol {
  /* Reset counter. */
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

.node-type-ding-help-page ol > li {
  /* Create a positioning context to ease positioning of the :before
   element. */
  position: relative;
  /* Left margin to allow for the :before.*/
  margin: 0 0 2em 3em;
  padding: 4px 8px;
  /* We'll do our own numbers. */
  list-style: none; /* Disable the normal item numbering */
}
.node-type-ding-help-page ol > li:before {
  /* Use a counter to create the numbering. */
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  width: 2em;
  /* Some space between the number and the content in browsers that
     support generated content but not positioning it (Camino 2 is one
     example) */
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #313233;
  font-weight: bold;
  /* Looks better than FaktPro. */
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
.node-type-ding-help-page li ol,
.node-type-ding-help-page li ul {
  margin-top: 6px;
}

.node-type-ding-help-page ol ol li:last-child {
  margin-bottom: 0;
}

/*
 * Help front page.
 */

.field-name-field-ding-help-front-alt-link {
  background-image: url(../images/union-jack.png);
  background-repeat: no-repeat;
  /* Font is 14px with a baseline at 11px from the top. */
  background-size: auto 23px;
  background-position: left top;
  padding-left: 45px;
  line-height: 25px;
  position: absolute;
  right: 0;
  top: 40px;
}

.field-name-field-ding-help-front-boxes  > .field-items > .field-item {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  /* Boxes layout using grid. */
  .field-name-field-ding-help-front-boxes > .field-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 30px;
  }

  .field-name-field-ding-help-front-boxes  > .field-items > .field-item {
    margin-bottom: 0;
  }
}

/* Layout individual boxes using flexbox. */
.paragraphs-item-ding-help-front-box {
  height: 100%;
}

.paragraphs-item-ding-help-front-box .content {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-content: space-between;
}

.field-name-field-ding-help-p-b-references {
  flex-grow: 1;
}

/* Add some padding above link. */
.paragraphs-item-ding-help-front-box .help-more-link {
  padding-top: 20px;
}

/*
 * Category listing page.
 */


.view-kkb-help .view-content .views-row {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .view-kkb-help .view-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
  }

  .view-kkb-help .view-content .views-row {
    margin-bottom: 0px;
  }
}
